body {
    background-color: #0b0a20;
    position: relative;
}

img {

    top: 1% !important;
    margin-top: 3%;
    width: 200px;
    height: 100px !important;
}

.jumbotron {
    width: 600px;
    
    margin-top: 2%;
    text-align: center !important;


}

#c{
    font-weight: 700 !important;
}
.btn {
    margin-left: 0%;
    width: 100px;
    height: 50px;
}

.b {
    margin-left: 2% !important;
    text-decoration: underline;
    font-weight: 500;
}

#c {
    font-weight: 600;
}

@media screen and (max-width:750px) {
    .jumbotron {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

#f{
    margin-bottom: 10px !important;
}