{% extends 'seller_header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <br><br><br>
    <p>
   <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="'#"><img src="{% static 'img9.gif' %}" alt="Los Angeles" ></a>
    </div>
    <div class="carousel-item">
      <a href="'#"> <img src="{% static 'img11.jpg' %}" alt="Chicago"  ></a>
    </div>
    <div class="carousel-item">
      <a href="'#"> <img src="{% static 'img8.jpg' %}" alt="New York"></a>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev" style="position: relative;position: absolute;">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
    </p>

    <br>
<div class=" container-fluid"  id="nn">
<h3 style="line-height: 60px;margin-left: 8px;text-underline-offset: 3.1px;" id="uline"><u>Sale Products</u></h3>
<p>
<div class=" row" id="row">
<div class=" col-3">
 <center><a href="#"><img src="{% static 'images/4.gif' %}" alt="" id="j" align="center"></a></center>
<p>
<center>
<span class="fa fa-star" id="star" ></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<br>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>

</p>
</div>
<div class=" col-3" id="t">
<center><a href="#"><img src="{% static 'images/3.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>
</p>
</div>
<div class=" col-3" id="t">
<center><a href="#"><img src="{% static 'images/2.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>
</p>
</div>
<div class=" col-3" id="t" >
<center><a href="#"><img src="{% static 'images/1.gif' %}" alt="" id="j" ></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b >$30.50</b></h5></p>
<p><p><button class="btn btn-dark"  id="o">Add to Cart</button></p></p>

</center>
</p>
</div>
</div>
</p>
</div>
<br><br>
<div class=" container-fluid">
    <div class=" row">

        <div class=" col-6" id="u" align="centre">
       <a href="#"> <img src="{% static 'images/sale5.gif' }" alt="" style="max-width: 100%;"></a>
        </div>
        <div class=" col-6" id="u">
           <a href="#"> <img src="{% static 'images/sale6.gif' }" alt="" style="max-width: 100%;"></a>
        </div>

    </div>

</div>

<br><br><br>

<div class="sale" style="width: 100%;">
<a href="#"><img src="{% static 'images/sale4_02.gif' %}" alt="" style="width:100%;max-height: 750px;"></a>
</div>
<br><br>
<p>
<div class=" container-fluid">
<h3 style="line-height: 60px;text-decoration: underline;text-underline-offset: 3.1px;" id="u">Featured Products</h3>
<p>
<div class=" row" id="row">
<div class=" col-3">
 <center><a href="#"><img src="{% static 'images/girl1.gif' %}" alt="" id="j" align="center"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<br>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>

</p>
</div>
<div class=" col-3" id="t">
<center><a href="#"><img src="{% static 'images/girl2.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>
</p>
</div>
<div class=" col-3">
<center><a href="#"><img src="{% static 'images/girl3.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>
</p>
</div>
<div class=" col-3" >
<center><a href="#"><img src="{% static 'images/girl4.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark"  id="o">Add to Cart</button></p></p>

</center>
</p>
</div>
</div>
</p>
<br>








<div class=" row" id="row">
<div class=" col-3">
 <center><a href="#"><img src="{% static 'images/girl5.gif' %}" alt="" id="j" align="center"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<br>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>

</p>
</div>
<div class=" col-3" id="t">
<center><a href="#"><img src="{% static 'images/girl6.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>
</p>
</div>
<div class=" col-3">
<center><a href="#"><img src="{% static 'images/girl7.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark" id="o">Add to Cart</button></p></p>
</center>
</p>
</div>
<div class=" col-3" >
<center><a href="#"><img src="{% static 'images/girl8.gif' %}" alt="" id="j"></a></center>
<p>
<center>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<span class="fa fa-star" id="star"></span>
<h6>
<h6 id="ho">
    Embroidered Linen Shirt
</h6>
</h6>
<p>
<h5><b>$30.50</b></h5></p>
<p><p><button class="btn btn-dark"  id="o">Add to Cart</button></p></p>

</center>
</p>
</div>
</div>
</div>
</p>

    <br><br>
<p>
    <p>
       <div  class="fas1" style="max-width: 100%;">
          <a href="#"><img src="{% static 'images/fashion1.gif' %}" alt="" style="max-width: 100%;"></a>
        
       </div>
    </p>
</p>
<br><br>
    <center><h1 style="font-weight: 900;color: #222222;letter-spacing: 2px;" id="h1">
    <span class="fa fa-hashtag" style="color: #eaac00;font-weight: 1800;" ></span>FASHIONSHOP</h1>
    
    <p><p style="font-weight: 400;" id="p1">Tag your photos for a chance to be featured in our instagram</p></p>
    </center>
    <br>

 <div class=" row container-fluid" style="padding-left: 28px;padding-right: 0px;max-width: 100%;">
        <div class=" col-2" id="fas2" >
        <center><a href="#"><img src="{% static 'images/girl10.gif' %}" alt=""  id="insta"></a></center>
        </div>
        <div class=" col-2" id="fas2">
           <a href="#"> <img src="{% static 'images/girl11.gif' %}" alt=""  id="insta"></a>
        </div>
        <div class=" col-2" id="fas2">
  <a href="#">  <img src="{% static 'images/girl12.gif' %}" alt="" id="insta"></a>
        </div>
        <div class=" col-2" id="fas2">
    <a href="#"><img src="{% static 'images/girl13.gif' %}" alt="" id="insta"></a>
        </div>
        <div class=" col-2" id="fas2"  >
   <a href="#"> <img src="{% static 'images/girl14.gif' %}" alt=""   style="padding-right: 2px;max-height: 272.67px;max-width:100%;"  ></a>
        </div>
        <div class=" col-2" id="fas2">
   <a href="#"> <img src="{% static 'images/girl15.gif' %}" alt="" id="insta"  ></a>
        </div>
     </div>   
       
<br><br><br><br>

     <div class=" row container-fluid" style="max-width: 100%;">
    <div class=" col-3" style="max-width: 100%;">
        

        <center>
           <a href=""> <img src="{% static 'images/money.gif' %}" alt="" height="49px" style="max-width: 100%;"> </a><br><br>
            <b  id="l2">MONEY BACK GUARNTEE</b>
        </center>
  </div>
   <div class=" col-3" style="max-width: 100%;">
       
        <center>
            <a href=""><img src="{% static 'images/gem.gif' %}" alt=""  height="49px"  style="max-width: 100%;"></a><br><br>
            <b  id="l2">PRODUCT QUALITY</b>
        </center>
  </div>
   <div class=" col-3" style="max-width: 100%;">
       
        <center>
            <a href=""><img src="{% static 'images/airplane.gif' %}" alt=""  height="49px"  style="max-width: 100%;"></a><br><br>
            <b  id="l2">FAST SHIPPING</b>
        </center>
  </div>
   <div class=" col-3" style="max-width: 100%;">
       
        <center>
            <a href=""><img src="{% static 'images/headphone.gif' %}" alt=""  height="49px"  style="max-width: 100%;"></a><br><br>
            <b  id="l2">ONLINE SUPPORT</b>
        </center>
  </div>

</div>

<br>
<br>
<br>
<p>
    <div id="form">
       <center> <h1 id="fm1">SUBSCRIBE TO NEWSLETTER</h1>
    <b><p style="font-weight: 500;" id="fm2">Get updated on new product releases and promotions.</p></b>    
    </center>
    <br>
    <form action="#" method="GET">
          <center>  <input type="email" name="" id="" placeholder="Email Address" style="display: inline;">
            <input type="submit" value="SUBMIT" id="submit" class=" btn btn-warning " ></center>
        </form>
    </div>
</p>
<br>
<p>
   <div class=" row container"  id="dd">
      
    <div  class=" col-sm-6 col-md-6 col-lg-6 col-xl-3" id="zz">
    <div  id="fas4"> FASHION SHOP</div>
        <div   id="bas">Boutique</div>
        <br>

      <h1> <p><p><a href="#"> <img src="{% static 'images/payment.gif' %}" alt="" style="background-color: white;max-width: 100%;"></a></p></p></h1>
      <br><br><br>
        <p  id="pp">© 2018 ARTBEES All rights reserved.</p>
    </div>
    <div  class="col-sm-6 col-md-6 col-lg-6 col-xl-3" style="margin-top:8px;" id="zz">
       <h6 ><b>CUSTOMER SERVICE</b></h6>
       <div id="qq">
      <a href="#" id="oo"> <li id="ff">About Us</li></a>
      <a href="#" id="oo"> <li id="ff">F.A.Q</li></a>
       <a href="#" id="oo"><li id="ff">My Account</li></a>
      <a href="tel:+91 9979714292" id="oo"> <li id="ff">Contact Us</li></a>
       </div>
    </div>

    <div  class="col-sm-6 col-md-6 col-lg-6 col-xl-3" style="margin-top:8px" id="zz">
       <h6 ><b>SOCIAL</b></h6>
       <div id="qq">
      <a href="https://www.instagram.com/techboy_21/" id="oo"> <li id="ff"><span class="fa fa-instagram"></span> Instagram</li></a>
      <a href="https://twitter.com/HarshSh98145369" id="oo"> <li id="ff"><span class="fa fa-twitter"></span> Twitter</li></a>
       <a href="https://www.facebook.com/profile.php?id=100003129591690" id="oo"><li id="ff"><span class="fa fa-facebook-f"></span> Facebook</li></a>
      <a href="https://www.pinterest.ca/harshtech2000/_saved/" id="oo"> <li id="ff"><span class="fa fa-pinterest"></span> Pinterest</li></a>
       </div>
    </div>

    <div  class="col-sm-6 col-md-6 col-lg-6 col-xl-3" style="margin-top:8px;max-width: auto;" id="zz">
       <h6 ><b>CONTACT US</b></h6>
       <div id="qq">
      <a href="https://goo.gl/maps/wNmA2zAK1grRW5Qn9" id="mm"> <li id="ff"><span class="fa  fa-map-marker" ></span> Mahavirnagar Society 382021 </li></a>
      <a href="#" id="mm"> <li id="ff"><span class="fa fa-phone"></span> +919979714292</li></a>
       <a href="mailto: harshtech2000@gmail.com" id="mm"><li id="ff"><span class="fa fa-envelope"></span> harshtech2000@gmail.com</li></a>
       </div>
    </div>
   </div>
<br><br><br>
</body>
</html>
{% endblock %}