{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br>
<div class="container-fluid" style="padding-left: 60px;">
<div class="row">
    <br>
{% for i in products %}
<br>
<div class="col-sm-3">
    <br><br>    
<div class="card" style="width: 18rem;">
    <img src="{{i.product_image.url}}" class="card-img-top" alt="..." height="405px">
    <div class="card-body">
      <h5 class="card-title">Brand : {{i.product_brand}}</h5>
      <p class="card-text"><label style="font-weight: 550;">Model : </label>  {{i.product_model}}</p>
      <p class="card-text"><label style="font-weight: 550;">Seller : </label>  {{i.seller.fname}}</p>
      <a href="{% url 'user_product_detail' pid=i.pk %}" class="btn btn-primary" style="letter-spacing:0px ;">More Details</a>
    </div>
  </div>
</div>
{% endfor %}
<br>
</div>
</div>
<br><br>
</body>
</html>

{% endblock %}